PORT=5000
NODE_ENV=production

# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/spps

# JWT
JWT_SECRET=your_long_random_secret_key_here
JWT_EXPIRE=1h

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Frontend URL (for CORS)
FRONTEND_URL=https://your-app.vercel.app
